.shoppingcart-container{
    /* padding: 0 104px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoppingcart-heading{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    width: 90%;
    padding: 0px;
    /* gap: 16px; */
    /* border: 2px solid yellow; */
}

.shoppingcart-heading h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
}

.shoppingcart-headertext{
    /* margin:0 80px; */
    margin-top: 72px;

}


.shoppingcart-imageframe{
    /* padding: 32px 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
    margin-top: 40px;
    padding: 40px;
    width: 100%;
    /* gap: 24px; */
    border: 1px solid green;
}

.yourcart{
    margin: 40px 0;
}

.shoppingcart-empty__cart-button{
    background: #4F2E67;
    border-radius: 4px;
    width: 188px;
    height: 60px;
    color: #f6f6f6;
}

.shoppingcart-displaybox{
    /* border: 1px solid red; */
    width: 90%;
}

    @media only screen and (max-width: 700px) {

        .shoppingcart-heading{
            display: flex;
            flex-direction: column;
            margin-top: 73px;
            /* border: 2px solid purple; */
        }

    .shoppingcart-headertext{
        margin: 0 20px;
    }

    .shoppingcart-container{
        /* padding: 0 30px; */
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        /* border: 3px solid grey; */

    }

    .shoppingcart-card{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red ; */
        margin: auto;
        margin-top: 50px
    }

    .top-picks{
        text-align: center;
    }


    
    

    .shoppingcart-imageframe{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
}