.most-recent-header{
    margin: 30px 0px;
    font-size: 48px;
    color: #242526;
    /* border: 1px solid red; */
}

.flex-1{
    /* border: 1px solid red; */
    
}

.thumbnail-1{
    filter: brightness(50%);
    position: relative;
    border-radius: 5px;
    
}
.play-button{
    position: absolute;
    
}
.max-w{
    border: 10px solid green;
}